body {
    font-family: sans-serif;
}

header {
    position: relative;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.mask {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.415);
}

.navbar {
    list-style: none;
    display: flex;   
}

.toggle, input {
    display: none;
}

.toggle span {
    width: 20px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    display: block;
}

.navbar li a {
    text-decoration: none;
    padding: 20px;
    text-transform: uppercase;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.navbar li a:hover {
    background-color: rgba(190, 190, 190, 0.276);
}

.btn {
    display: flex;
    justify-content: right;
}

.btn button {
    display: block;
    background-color: transparent;
    padding: 10px 14px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 20px;
}

.btn button:first-child {
    border-color: white;
    color: white;
}

.btn button:last-child {
    background-color: white;
    color: black;
}

.balandlik {
    height: 600px;
}

.logo h1 {
    color: white;   
}

.title {
    color: white;
}

.title h1 {
    font-size: 36px;
    margin-bottom: 15px;
}

.title p {
    font-size: 20px;
    margin-bottom: 15px;
}

.title button {
    font-size: 18px;
    padding: 12px 35px;
    border-radius: 20px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    background-color: #22A0E3;
    color: white;
    transition: .5s;
}

.title button:hover {
    background-color: white;
    color: #22A0E3;
}

/* First section */
#first {
    padding: 50px 0;
}

#first .title {
    color: black;
}

#first .title h1 {
    margin-bottom: 20px;
}

#first .title button {
    border: 1px solid #22A0E3;
    background-color: white;
    color: #22A0E3;
}

.icon i {
    font-size: 100px;
    margin-bottom: 20px;
    color: #22A0E3;
}

.content h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.content p {
    margin-bottom: 15px;
}

#second {
    background-color: #2D52A0;
    padding: 50px;
    color: white;
}

#second h3 {
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: 300;
}

#third {
    padding: 50px 0;
}

#third img {
    width: 600px;
}

.circle span {
    border: 1px solid black;
    border-radius: 50%;
    font-size: 24px;
    padding: 4px 8px;
    margin-right: 15px;
}

.circle p {
    font-size: 20px;
}

.circle p:first-child span:last-child {
    border: none;
    color: #22A0E3;
}

.circle p {
    margin-bottom: 20px;
}

#fourth {
    background-color: #F3F7FA;
    padding: 50px 0;
}

#fourth .title h1 {
    color: black !important;
    margin-bottom: 20px;
}

footer ul {
    display: flex;
    list-style: none;
}

footer ul li {
    margin-right: 10px;
}

footer {
    padding: 30px 0;
}

.right {
    display: flex;
    justify-content: flex-end;
}

.bbottom {
    border-bottom: 1px dashed rgb(67, 67, 67);
}

.p0 {
    padding: 20px 0 !important;
}

@media (max-width: 992px) {
    .btn {
        display: none;
    }

    .toggle {
        display: block;
        cursor: pointer;
        position: relative;
        z-index: 1000;
    }

    .navbar {
        position: fixed;
        width: 100vw;
        height: 65vh;
        top: -100%;
        left: 0;
        background-color: black;
        display: block;
        text-align: center;
        transition: .5s;
        padding-top: 65px;
    }

    .navbar li a {
        color: white !important;
        margin: 20px 0;
        display: block;
    }

    .toggle span {
        margin: 5px;
        border-radius: 3px;
    }

    input:checked ~ nav .navbar {
        top: 0px;
    }

    input:checked ~ .logo {
        color: white;

    }

    .logo {
        position: relative;
        z-index: 1000;
    }

    input:checked ~ .toggle span {
        background-color: white;
    }

    .navbar li a:hover {
        background-color: rgb(125, 125, 125);
    }
}